*.log
tools/quick-translate/bin/
tools/quick-translate/obj/
tools/nightpad/bin/
tools/nightpad/obj/
tools/focused-border/bin/
tools/focused-border/obj/
tools/bar-translator/bin/
tools/bar-translator/obj/
